<header id="cabecalho"><!--Início Cabeçalho-->

    <div id="logo-caixa"><!--Logo-->
        <a href="#"><img src="../../assets/img/logo2.png"></a>
    </div>

    <nav id="navbar"><!--Barra de Navegação-->
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">MARCAS</a></li>
            <li><a href="#">PROMOÇÕES</a></li>
            <li><a href="#">SOBRE NÓS</a></li>
            <li><a href="#">CONTATO</a></li>
        </ul>
    </nav>

</header><!--Fim Cabeçalho-->
