<footer id="rodape">

    <div id="caixa-rodape">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <a href="#">
                        <img src="../../assets/img/logo2.png">
                    </a>
                </div>

                <div class="col-md-4">
                    <h4>MARCAS</h4>
                    <ul class="navbar-nav">
                    <li><a href="https://www.ferrari.com/en-BR">Ferrari</a></li>
                    <li><a href="https://www.lamborghini.com/en-en">Lamborghini</a></li>
                    <li><a href="https://www.mercedes-benz.com.br/">Mercedes-Benz</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h4>PEÇAS</h4>
                    <ul class="navbar-nav">
                    <li><a href="">Rodas</a></li>
                    <li><a href="">Freios</a></li>
                    <li><a href="">Aerofólios</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
        <h6>
            Todos os direitos reservados por Pietro Bontempi
        </h6>
    </div>

</footer>
