<section id="marcas"><!--Seção Marcas-->

    <div id="caixa-marcas">
        <h1>As Melhores Marcas do Mercado</h1>
        <div class="container">
            <div class="row">
                
                <div class="col-md-4">
                    <a href="https://www.ferrari.com/en-BR">
                        <img src="../../assets/img/ferrari.png" target="_blank">
                    </a>        
                </div>

                <div class="col-md-4">
                    <a href="https://www.lamborghini.com/en-en">
                    <img src="../../assets/img/lamborghini.png" target="_blank">
                    </a>
                </div>
                

                <div class="col-md-4">
                    <a href="https://www.mercedes-benz.com.br/">
                    <img src="../../assets/img/mercedes.png" target="_blank">
                    </a>
                </div>
                
                
                <div class="col-md-4">
                    <a href="https://www.bmw.com.br/pt/index.html">
                    <img src="../../assets/img/bmw.png" target="_blank"v>
                    </a>
                </div>
                

                <div class="col-md-4">
                    <a href="https://www.maserati.com/br/pt" >
                    <img src="../../assets/img/maserati.png" target="_blank">
                    </a>
                </div>
                

                <div class="col-md-4">
                    <a href="https://www.porsche.com/brazil/pt/">
                    <img src="../../assets/img/porsche.png" target="_blank">
                    </a>
                </div>

            </div>

            <button class="btn btn-outline-dark btn-lg" href="marcas.html">Veja mais</button>

        </div>

    </div>

</section><!--Seção Marcas - Fim-->

<section id="promo"><!--Seção Promoções-->
    <div id="caixa-promo">
        <h1>
            Promoções Imperdíveis do Mês!!!
        </h1>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                   <figure>
                    <img src="../../assets/img/laferrari.png">
                    <figcaption>La Ferrari - R$ 21M</figcaption>
                   </figure> 
                   <button class="btn btn-outline-danger btn-sm">Compre já</button>
                </div>

                <div class="col-md-6">
                    <figure>
                     <img src="../../assets/img/urus.png">
                     <figcaption>Lamborghini Urus - R$ 800K</figcaption>
                    </figure> 
                    <button class="btn btn-outline-danger btn-sm">Compre já</button>
                 </div>

                 <div class="col-md-6">
                    <figure>
                     <img src="../../assets/img/supra.png">
                     <figcaption>Toyota Supra - R$ 300K</figcaption>
                    </figure> 
                    <button class="btn btn-outline-danger btn-sm">Compre já</button>
                 </div>

                 <div class="col-md-6">
                    <figure>
                     <img src="../../assets/img/taycan.png">
                     <figcaption>Porsche Taycan - US$ 615K</figcaption>
                    </figure> 
                    <button class="btn btn-outline-danger btn-sm">Compre já</button>
                 </div>

                 <div class="col-md-6">
                    <figure>
                     <img src="../../assets/img/gla200.png">
                     <figcaption>Mercedes Gla 200 - US$ 329.9K</figcaption>
                    </figure> 
                    <button class="btn btn-outline-danger btn-sm">Compre já</button>
                 </div>

                 <div class="col-md-6">
                    <figure>
                     <img src="../../assets/img/mustang.png">
                     <figcaption>Ford Mustang - US$ 530K</figcaption>
                    </figure> 
                    <button class="btn btn-outline-danger btn-sm">Compre já</button>
                 </div>
            </div>
        </div>

    </div>

</section><!--Seção Promo - Fim-->
